* {
  -webkit-tap-highlight-color: transparent;
}
input#minutesInput {
  padding: 5px;
}
input#endTimeInput {
  padding: 5px;
}
@media screen and (max-width: 991px) {
  .timerhandler {
    flex-direction: column;
    margin: 0 20px;
    gap: 10px;
  }
  #stopwatch_container {
    margin: 0 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    font-size: 16px;
  }
  .milliseconds_stopwatch {
    min-width: 50px;
    text-align: right;
  }
  ._watch.fullscreen-mode #stopwatch_container {
    font-size: 28px;
  }
  ._watch.fullscreen-mode #stopwatch_container .milliseconds_stopwatch {
    min-width: 50px;
  }
  .small-am-pm {
    right: 15px;
    bottom: 5px;
  }
  #fixedTimeInput,
  #endTimeInputSection {
    margin-right: 0;
  }
  input#minutesInput {
    margin-bottom: 0;
    font-size: 16px;
    padding: 5px;
  }
  input#endTimeInput {
    margin-bottom: 0;
    font-size: 16px;
    padding: 5px;
  }
  .timerSection input {
    font-size: 18px;
    padding: 5px;
  }
  .timerSection button {
    font-size: 20px;
    padding: 8px 30px;
    width: fit-content;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  body {
    margin: 10px;
  }
  /* footer menu */
  .footer-menu-wrapper {
    display: flex;
  }
  .clock-wrapper {
    padding-top: 10px;
  }
  .clock {
    font-size: 72px;
  }
  .timer_stopwatch_container {
    flex-direction: column; /* Stack the items vertically */
  }
  .timer_stopwatch_container .timerSection,
  .timer_stopwatch_container .stopwatch_section {
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 40px;
  }
  input#endTimeInput {
    margin-bottom: 10px;
  }
  .zikir-wrapper {
    flex-direction: column;
    height: auto;
  }
  .total-container {
    padding: 30px 0;
  }
  .zikir-title {
    font-size: 36px;
    margin-top: 20px;
    line-height: 1.2;
  }
  .popup-trigger-container .wrapper span {
    font-size: 16px;
  }
  .date-group {
    margin-top: 50px;
    font-size: 18px;
    font-family: "Anek Bangla", sans-serif;
    margin-bottom: 50px;
  }
  .popup-content {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  .popup-trigger-container .wrapper span::after {
    content: "";
    padding: 0;
  }
  .popup-trigger-container .wrapper span {
    display: block;
    border-bottom: 1px solid #dadada;
  }
  .popup-trigger-container .wrapper span:last-of-type {
    border-bottom: none;
  }
  .close-btn {
    top: 10px;
  }
  .clock {
    height: 180px;
  }

  h3.title {
    font-size: 32px;
    letter-spacing: 0;
  }
  h1.qa-title {
    line-height: 1;
    padding-bottom: 10px;
  }
  .arabicdateWrapper {
    display: none;
  }
  .floating-menu-wrapper {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .milliseconds_stopwatch {
    min-width: 30px;
    text-align: right;
  }
  ._watch.fullscreen-mode #stopwatch_container {
    font-size: 20px;
  }
  ._watch.fullscreen-mode #stopwatch_container .milliseconds_stopwatch {
    min-width: 40px;
  }
}
