/* Container for clicking */
.ripple-container {
  position: relative;
  overflow: visible;
}

/* Ripple effect */
.ripple {
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-animation 0.6s linear;
  pointer-events: none;
}
.ripple2 {
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-animation 0.6s linear;
  pointer-events: none;
}

/* Ripple animation */
@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
