.md-code {
  display: inline-block;
  background: #00000010;
  color: #111;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.875em;
  padding: 5px 10px;
  margin-top: 5px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition:
    background 0.2s,
    color 0.2s;
}

.md-code--copied {
  background: #013001;
  color: #00fc00;
}
.in-fullscreen .md-code {
  display: inline-block;
  background: #2d2d2d;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.875em;
  padding: 5px 10px;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition:
    background 0.2s,
    color 0.2s;
}

.in-fullscreen .md-code:hover {
  background: #2d2d2d;
  color: #fff;
}

.in-fullscreen .md-code--copied {
  background: #1a3a1a;
  color: #00ff00;
}

/* card edit in full screen */

.in-fullscreen .card-edit-btn {
  width: 52px;
  height: 52px;
}
.in-fullscreen .card-edit-btn svg {
  width: 24px;
  height: 24px;
}
.in-fullscreen .card-copy-btn {
  width: 52px;
  height: 52px;
  left: 60px;
}
.in-fullscreen .card-copy-btn svg {
  width: 24px;
  height: 24px;
}
.in-fullscreen .card-copy-btn.copied svg {
  stroke: #00fc00;
}
.fullscreen-close-btn {
  position: fixed;
  top: 20px;
  right: 30px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 30px;
  cursor: pointer;
  z-index: 2147483647;
  display: none;
  transition: transform 0.2s ease;
}
.fullscreen-close-btn:hover {
  transform: scale(1.1);
}
.in-fullscreen .fullscreen-close-btn {
  display: block;
}
.in-fullscreen .card-text-wrapper .md-h2,
.in-fullscreen .card-text-wrapper .md-h1,
.in-fullscreen .card-text-wrapper .md-p,
.in-fullscreen .card-text-wrapper ul li {
  font-size: 2rem;
}
.in-fullscreen .card-text-wrapper ul {
  padding-top: 10px;
  padding-left: 5rem;
}
.card-text-wrapper {
    padding: 15px 10px 40px 10px !important;
    overflow-y: auto !important;
}

/* todo style */
/* Removes the black dot and spaces the list */
.md-todo-list {
  list-style-type: none;
  margin-bottom: 10px;
}

/* Flexbox layout to align the checkbox and text perfectly */
.md-todo-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 6px;
  margin-left: -1.5rem;
}

/* Styles the native checkbox */
.md-todo-checkbox {
  accent-color: black;
  margin-top: 4px;
  margin-right: 8px;
  cursor: pointer;
  flex-shrink: 0;
}
.in-fullscreen .md-todo-checkbox {
  accent-color: #b3b0b0;
  margin-top: 1rem;
  margin-right: 1rem;
  width: 16px;
  height: 16px;
}

/* Base style for the text */
.md-todo-text {
  line-height: 1.4;
  text-transform: lowercase;
}

/* The style applied when the checkbox is checked */
.md-todo-text.is-done {
  color: #b3b0b0;
  /* background-image: linear-gradient(transparent 50%, #b3b0b0 50%, #b3b0b0 55%, transparent 55%); */
  /* text-decoration: 1px dashed line-through; */
  text-decoration-line:line-through;
}


/* responsive */
@media screen and (max-width: 768px) {
  .fullscreen-close-btn {
    width: 40px;
    height: 40px;
    font-size: 24px;
    right: 20px;
    top: 20px;
  }
  .in-fullscreen .card-text-wrapper .md-h2,
  .in-fullscreen .card-text-wrapper .md-h1,
  .in-fullscreen .card-text-wrapper .md-p,
  .in-fullscreen .card-text-wrapper ul li {
    font-size: 1.5rem;
  }
  div.box-wrapper {
    padding: 24px 12px 70px 12px;
  }
  button.fab-add{
    width: 40px;
    height: 40px;
  }
}
